message-list {
	position: fixed;
	top: 0;
	bottom:0;
	left: 80px;
	width: 390px;
	padding-top:80px;
	border-right:solid 1px lightgray;
}
message-list .nav-tabs .glyphicon:not(.no-margin) {
	margin-right: 10px;
}
message-list .tools{
	border-top:solid 1px #EEE;
	position: relative;
}
message-list .tools button.btn{
	border-radius:0;
}
message-list .tools .counter{
	display: block;
	position: absolute;
	top: 0;
	left: 32px;
	text-align: center;
	padding-top:6px;
	right: 64px;
}
message-list .paging span{
	position:relative;
	top:2px;
}
message-list .paging button.btn{
	padding:7px 10px;
}
message-list .message{
	height:100px;
	position: relative;
	display: block;
	padding: 10px 15px 0 32px;
	margin-bottom: -1px;
	background-color: #fff;
	border-top: 1px solid #ddd;
	cursor: pointer;
	border-top:solid 2px #EEE;
	border-bottom:solid 3px transparent;
	border-left:solid 2px transparent;
	border-right:solid 2px transparent;
	-webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
message-list .message.active{
	border-top:solid 2px #7b00c9;
	border-bottom:solid 3px #7b00c9;
	border-left:solid 2px #7b00c9;
	border-right:solid 2px #7b00c9;
}
message-list .message.active .icons{
	opacity: 1;
}
message-list .message:not(.active):hover{
	border-top:solid 2px #e0aeff;
	border-bottom:solid 3px #e0aeff;
	border-left:solid 2px #e0aeff;
	border-right:solid 2px #e0aeff;
}
message-list .message:not(.active):hover .star{
	opacity: 1;
}
message-list .message .icons{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	width:32px;
	font-size:20px;
	text-align: center;
	padding-top:9px;
	line-height: 30px;
	border-right:none !important;
	border-left:none !important;
	color:#CCC;
	-webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
message-list .message .star{
	opacity: 0;
	-webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
message-list .message .subject{
	font-weight:500;
	font-size:15px;
}
message-list button.btn-default{
	border:none;
}